<%- include ../partials/header %> <%- include ../partials/categories-navbar %>
<div class="container cart">
  <% if (cart != null && !cart.paid ) { %>
  <div class="row">
    <div class="col-md-11 col-sm-12 m-auto table-responsive">
      <table class="table text-center">
        <thead>
          <tr >
            <th>Product</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Quantity</th>
            <th>&nbsp;</th>
            <th>Total</th>
            <th>Subtotal</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach( product => { %> <% if(product != null) {%>
          <tr class="my-auto">
            <td>
              <a
              href="/products/<%=product.category.slug%>/<%=product._id%>"
            >
              <img src="<%=product.imagePath%>" style="height: 250px; width: 250px;" class="img-small image-fluid" alt="image thumbnail" />
              </a>
            </td>
            <td>
              <div class="float-left mb-3">
                <a class="title-link"
                href="/products/<%=product.category.slug%>/<%=product._id%>"
              >
                <h6 class="text-left"><%= product.title %></h6> 
                <p class="text-left">Product No: <%= product.productCode %></p>
                </a>
              </div>
              

            </td>
            <td class="text-center">
              <a href="/add-to-cart/<%=product._id%>"
                ><i class="fa fa-plus-square" aria-hidden="true"></i
              > </a>
            </td>
            <td class="text-center">
              <p class="qty-display pt-1">
              <%= product.qty %>
            </p>
          </td>
            <td class="text-center" >
              <a href="/reduce/<%=product._id%>"
                ><i class="fa fa-minus-square" aria-hidden="true"></i
              ></a>
            </td>
            <td>$<%= product.price %></td>
            <td>$<%= product.totalPrice %></td>
            <td>
              <a
                href="/removeAll/<%=product._id%>"
                class="btn btn-danger btn-sm button-style-danger"
                >Remove all</a
              >
            </td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </div>
  </div>
<hr>
  <div class="row mt-4 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <strong>Total: $<%= cart.totalCost %> </strong>
    </div>
  </div>
  <div class="row mt-2 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <a href="/checkout" class="btn btn-dark button-style">Checkout</a>
    </div>
  </div>
  <% } else { %>
  <div class="row text-center">
    <div class="col-md-9 col-sm-9 m-auto">
      <h2>No items in the cart</h2>
    </div>
  </div>

  <% } %>
</div>

<%- include ../partials/footer %>
